.footer {
	background-color: $primary;
	color: $white;
	font-family: $accent;
	text-align: center;
	font-size: 48px;
}

.top {
	pointer-events: none;
}

.top a {
	background-color: $black;
	border-radius: 100px;

	pointer-events: auto;
}


@media (hover: hover) {

	.footer {
		font-size: 30px;
	}
}