.thoughts {
	background-color: $secondary;
}

.thoughts h1 {
	text-align: center;
	font-family: $accent;
	text-transform: uppercase;
	font-size: 90px;
}

.thoughts h2 {
	color: $primary;
	font-family: $accent;
	font-size: 48px;
}

.thoughts p {
	font-family: $main;
	font-size: 24px;
	line-height: 1.2em;
	letter-spacing: 1px;
}

.blog__all a {
	font-family: $accent;;
	font-size: 64px;
	text-transform: uppercase;
	color: $primary;
	border: 5px solid $primary;
	border-radius: 100px;
}


@media (hover: hover) {

	.thoughts h1 {
		font-size: 52px;
	}

	.blog__post h2 {
		font-size: 38px;
	}

	.blog__post p {
		font-size: 20px;
	}
}

@media (min-width: 750px) and (hover: none) {

	.hero {
		font-size: 7vw;
	}

	.blog__all a {
		font-size: 50px;
	}
}

@media (min-width: 1024px){

	.blog__post h2 {
		font-size: 28px;
	}

	.blog__post p {
		font-size: 14px;
	}

	.blog__all a {
		font-size: 26px;
		border: 3px solid $primary;
		box-shadow: 0px 0px 0px 3px $secondary;
		-webkit-font-smoothing: antialiased;
		transition: all 0.3s ease;
	}

	.blog__all a:hover {
		background-color: $primary;
		color: $white;
		border: 3px solid $white;
		box-shadow: 0px 0px 0px 3px $black;
	}
}