/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button] {
  -moz-appearance: none;
  -webkit-appearance: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  width: 100%; }

.l-wrapper {
  padding: 30px;
  margin-bottom: 50px; }

.l-divider--mobile {
  display: block;
  width: 60%;
  height: 1px;
  margin: 20px auto; }

.l-align--right {
  text-align: right; }

.l-honeycomb__divider {
  width: 100%;
  height: 22px;
  position: relative; }

.l-divider__gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

@media (min-width: 650px) {
  .l-wrapper {
    max-width: 600px;
    margin: 0px auto; }

  .l-divider--mobile {
    width: 45%; } }
@media (min-width: 800px) {
  .l-wrapper {
    max-width: none; } }
@media (min-width: 1024px) {
  .l-wrapper {
    margin-bottom: 80px; } }
.l-header--desktop {
  display: none; }

.l-logo--mobile {
  max-width: 250px;
  margin: 0px auto 55px; }

.l-navigation--mobile ul {
  text-align: center; }

.l-navigation--mobile ul li a {
  display: inline-block;
  padding: 15px; }

.l-hero {
  text-align: center;
  margin: 50px 0px 100px; }

.l-navigation--mobile ul li a.l-button--shop {
  padding: 20px 25px 15px;
  margin-bottom: 15px; }

@media (min-width: 500px) {
  .l-navigation--mobile ul {
    max-width: 450px;
    margin: 0px auto; }

  .l-navigation--mobile ul li {
    display: inline-block; }

  .l-navigation--mobile ul li a {
    display: inline-block; } }
@media (min-width: 650px) {
  .l-hero {
    margin: 100px 0px; } }
@media (min-width: 800px) {
  .l-hero {
    margin: 100px 0px 150px; } }
@media (min-width: 1024px) {
  .l-header--mobile {
    display: none; }

  .l-divider--mobile {
    display: none; }

  .l-header--desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; }

  .l-header--desktop ul li {
    display: inline-block;
    margin: 0px 5px; }

  .l-header--desktop ul li a {
    display: inline-block;
    padding: 20px 20px 10px;
    min-width: 100px; }

  .l-logo {
    max-width: 150px;
    margin: 0px 10px; }

  .l-header__links--left ul li a {
    text-align: left;
    padding-left: 5px; }

  .l-header__links--right ul li a {
    text-align: right;
    padding-right: 5px; } }
@media (min-width: 1200px) {
  .l-header--desktop ul li a {
    min-width: 120px; }

  .l-logo {
    max-width: 250px;
    margin: 0px 10px; } }
.l-featured {
  display: none; }

.l-featured--mobile ul li {
  margin: 10px;
  display: block; }

.l-featured--mobile img {
  display: block; }

@media (min-width: 450px) {
  .l-featured--mobile ul li {
    display: inline-block;
    width: calc(50% - 22px); } }
@media (min-width: 800px) {
  .l-featured--mobile {
    display: none; }

  .l-featured {
    display: flex;
    justify-content: center;
    min-height: 350px; }

  .l-hexrow {
    display: flex;
    justify-content: center; }

  .l-hexrow:nth-child(1n+2) {
    margin-top: 72px; }

  .l-hexrow:last-child {
    margin-bottom: 60px; }

  .l-hex--01 {
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 190px;
    line-height: 220px;
    margin: 0px 10px; }

  .l-hex--01 a {
    height: 110px;
    display: block; }

  .l-hex--01--01 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transform: rotate(60deg); }

  .l-hex--01--01:before {
    content: '';
    position: absolute;
    left: 0;
    transform-origin: 0 0;
    z-index: -1;
    transform: rotate(-60deg) translate(-110px, 0);
    height: 220px;
    width: 220px; }

  .l-hex--01--02 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
    transform: rotate(-60deg); }

  .l-hex--01--02:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: rotate(60deg) translate(40.3px, 40.7px);
    height: 220px;
    width: 220px; } }
.l-content__block::before {
  display: block;
  width: 40%;
  height: 1px;
  margin: 125px auto 0px; }

.l-content__block h1 {
  margin: 40px 0px; }

.l-content__paragraph img {
  display: block;
  margin: 20px auto;
  width: 70%; }

.l-content__paragraph p {
  margin-bottom: 20px; }

.l-content__love p {
  margin-bottom: 20px; }

.l-content__love img.l-content__image--left {
  float: left;
  max-width: 50px;
  margin-right: 15px;
  margin-bottom: 10px; }

.l-content__love img.l-content__image--right {
  float: right;
  max-width: 50px;
  margin-left: 15px;
  margin-bottom: 10px; }

@media (min-width: 450px) {
  .l-content__paragraph img.l-content__image--left {
    max-width: 150px;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px; }

  .l-content__list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }
@media (min-width: 650px) {
  .l-content__block::before {
    width: 15%; } }
@media (min-width: 800px) {
  .l-content__block {
    max-width: 600px;
    margin: 0px auto; } }
.l-services__item {
  margin: 50px 0px; }

.l-services__item img {
  display: block;
  margin: 20px auto 30px;
  max-width: 100px; }

.l-services__item h2 {
  margin: 20px 0px; }

.l-services__item ul li {
  padding-left: 30px;
  line-height: 1.8em; }

@media (min-width: 400px) {
  .l-services__item ul {
    margin-left: 50px; } }
@media (min-width: 450px) {
  .l-services__item ul {
    margin-left: 10px; }

  .l-services__item {
    display: inline-block;
    max-width: calc(50% - 10px);
    flex-grow: 1; } }
@media (min-width: 650px) {
  .l-services__item {
    margin: 30px 0px; } }
@media (min-width: 1024px) {
  .l-services__item {
    max-width: calc(33.333% - 10px); }

  .l-services {
    max-width: 800px; } }
@media (min-width: 1200px) {
  .l-services__item {
    max-width: calc(20% - 10px);
    flex-grow: 0; }

  .l-services {
    max-width: 1000px; } }
.l-footer::before {
  position: relative;
  top: -6px;
  height: 20px; }

.l-footer {
  padding-bottom: 10px; }

.l-footer__socials {
  display: block;
  text-align: center;
  padding-top: 20px; }

.l-footer__socials a {
  display: inline-block;
  max-width: 60px;
  padding: 10px;
  margin-bottom: 20px; }

.l-footer__links a {
  display: block;
  padding: 20px; }

@media (min-width: 650px) {
  .l-footer__content {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    padding: 0px 15px; }

  .l-footer__socials {
    display: -webkit-flex;
    display: flex;
    padding-top: 0px; }

  .l-footer__socials a {
    margin-bottom: 0px;
    max-width: 50px; }

  .l-footer__links a {
    display: inline-block;
    padding: 8px;
    font-size: 12px; } }
@media (min-width: 800px) {
  .l-footer__content {
    padding: 0px 30px; } }
body {
  background-color: #f2f2f2; }

.divider--mobile {
  background-color: #f97a25; }

.honeycomb__divider {
  background-image: url("assets/images/honeycomb_BG_Topper2.png");
  background-repeat: repeat-x;
  background-size: 18px auto; }

.divider__gradient {
  background: #121e2e;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Standard*/ }

.header--mobile {
  font-family: "Josefin Sans", sans-serif;
  color: #121e2e;
  font-size: 1.5em;
  text-transform: uppercase; }

.hero {
  font-family: "Lato", sans-serif;
  font-size: 2.3em;
  color: #121e2e;
  line-height: 1.5em; }

.button--shop {
  border: 1px solid #f97a25; }

@media (min-width: 650px) {
  .hero {
    font-size: 5.5vw; } }
@media (min-width: 1024px) {
  .header--desktop {
    color: #f97a25;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase; }

  .header--desktop ul li a {
    border-bottom: 1px solid #f97a25;
    transition: all 0.4s ease; }

  .header--desktop ul li a:hover {
    color: #121e2e;
    border-bottom: 1px solid #121e2e; }

  .hero {
    font-size: 50px; } }
@media (min-width: 1200px) {
  .hero {
    font-size: 60px; } }
.featured--mobile ul li {
  border: 1px solid #f97a25; }

@media (min-width: 800px) {
  .hex--01 a {
    background-image: url("assets/images/RedstoneLogo.png");
    background-color: #ffb889;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 220px;
    text-align: center;
    color: #121e2e; }

  .hex--01--01 {
    background: inherit; }

  .hex--01--01:before {
    background: inherit; }

  .hex--01--02 {
    background: inherit; }

  .hex--01--02:before {
    background: inherit; } }
.content__block::before {
  content: "";
  background-color: #f97a25; }

.content__block h1 {
  color: #121e2e;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center; }

.content__paragraph p {
  color: #121e2e;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  line-height: 1.4em; }

.content__love {
  color: #121e2e;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  line-height: 1.4em; }

.services__item {
  color: #121e2e;
  font-family: "Lato", sans-serif; }

.services__item h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center; }

.services__item ul li {
  background-image: url("assets/images/bullets.png");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  background-size: 8px 8px; }

.footer::before {
  content: "";
  display: block;
  background-image: url("assets/images/honeycomb_BG2.png");
  background-repeat: repeat-x;
  background-size: 36px auto; }

.footer {
  background-color: #121e2e;
  color: #f97a25;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }

.footer__links {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
