/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button] {
  -moz-appearance: none;
  -webkit-appearance: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  width: 100%; }

.l-wrapper {
  padding: 30px; }

.l-divider--mobile {
  display: block;
  width: 60%;
  height: 1px;
  margin: 20px auto; }

.l-align--right {
  text-align: right; }

.l-honeycomb__divider {
  width: 100%;
  height: 22px;
  position: relative; }

.l-divider__gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

@media (min-width: 650px) {
  .l-wrapper {
    max-width: 600px;
    margin: 0px auto; }

  .l-divider--mobile {
    width: 45%; } }
@media (min-width: 800px) {
  .l-wrapper {
    max-width: none; } }
.l-header--desktop {
  display: none; }

.l-logo--mobile {
  max-width: 300px;
  margin: 0px auto 40px; }

.l-navigation--mobile ul {
  text-align: center; }

.l-navigation--mobile ul li a {
  display: block;
  padding: 15px; }

.l-hero {
  text-align: center;
  margin: 50px 0px 100px; }

@media (min-width: 500px) {
  .l-navigation--mobile ul {
    max-width: 560px;
    margin: 0px auto; }

  .l-navigation--mobile ul li {
    display: inline-block; }

  .l-navigation--mobile ul li a {
    display: inline-block; } }
@media (min-width: 650px) {
  .l-hero {
    margin: 100px 0px; } }
@media (min-width: 800px) {
  .l-hero {
    margin: 100px 0px 150px; } }
.l-featured {
  display: none; }

.l-featured--mobile ul li {
  margin: 10px;
  display: block; }

.l-featured--mobile img {
  display: block; }

@media (min-width: 450px) {
  .l-featured--mobile ul li {
    display: inline-block;
    width: calc(50% - 22px); } }
@media (min-width: 800px) {
  .l-featured--mobile {
    display: none; }

  .l-featured {
    display: flex;
    justify-content: center;
    min-height: 350px; }

  .l-hexrow:nth-child(even) {
    display: flex;
    justify-content: center; }

  .l-hexrow:nth-child(even) > div {
    margin: 0px 7.6px;
    top: 61px; }

  .l-hexrow {
    white-space: nowrap;
    /*right/left margin set at (( width of child div x sin(30) ) / 2) makes a fairly tight fit; a 3px bottom seems to match*/ }

  .l-hexrow > div {
    width: 173.2px;
    height: 100px;
    /* ( width x cos(30) ) x 2 */
    /* For margin:
    right/left = ( width x sin(30) ) makes no overlap 
    right/left = (( width x sin(30) ) / 2) leaves a narrow separation
    */
    margin: 0 5px;
    position: relative;
    display: inline-block; }

  .hexrow > div > div:first-of-type {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-image: inherit;
    -ms-transform: rotate(60deg);
    /* IE 9 */
    -moz-transform: rotate(60deg);
    /* Firefox */
    -webkit-transform: rotate(60deg);
    /* Safari and Chrome */
    -o-transform: rotate(60deg);
    /* Opera */
    transform: rotate(60deg); }

  .hexrow > div > div:first-of-type:before {
    content: '';
    position: absolute;
    width: 200px;
    /* width of main + margin sizing */
    height: 100%;
    background-image: inherit;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 120%;
    bottom: 0;
    left: 0;
    z-index: 1;
    -ms-transform: rotate(-60deg) translate(-150px, 0);
    /* IE 9 */
    -moz-transform: rotate(-60deg) translate(-150px, 0);
    /* Firefox */
    -webkit-transform: rotate(-60deg) translate(-150px, 0);
    /* Safari and Chrome */
    -o-transform: rotate(-60deg) translate(-150px, 0);
    /* Opera */
    transform: rotate(-60deg) translate(-150px, 0);
    -ms-transform-origin: 0 0;
    /* IE 9 */
    -webkit-transform-origin: 0 0;
    /* Safari and Chrome */
    -moz-transform-origin: 0 0;
    /* Firefox */
    -o-transform-origin: 0 0;
    /* Opera */
    transform-origin: 0 0; }

  .hexrow > div > div:last-of-type {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
    background-image: inherit;
    -ms-transform: rotate(120deg);
    /* IE 9 */
    -moz-transform: rotate(120deg);
    /* Firefox */
    -webkit-transform: rotate(120deg);
    /* Safari and Chrome */
    -o-transform: rotate(120deg);
    /* Opera */
    transform: rotate(120deg); }

  .hexrow > div > div:last-of-type:before {
    content: '';
    position: absolute;
    width: 200px;
    /* starting width + margin sizing */
    height: 100%;
    background-image: inherit;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 120%;
    bottom: 0;
    left: 0;
    z-index: 1;
    /*translate properties are initial width (100px) and half height (173.2 / 2 = 86.6) */
    -ms-transform: rotate(90deg) translate(100px, 86.6px);
    /* IE 9 */
    -moz-transform: rotate(90deg) translate(100px, 86.6px);
    /* Firefox */
    -webkit-transform: rotate(90deg) translate(100px, 86.6px);
    /* Safari and Chrome */
    -o-transform: rotate(90deg) translate(100px, 86.6px);
    /* Opera */
    transform: rotate(90deg) translate(100px, 86.6px);
    -ms-transform-origin: 100% 0;
    /* IE 9 */
    -webkit-transform-origin: 100% 0;
    /* Safari and Chrome */
    -moz-transform-origin: 100% 0;
    /* Firefox */
    -o-transform-origin: 100% 0;
    /* Opera */
    transform-origin: 100% 0; }

  .hexrow > div > span {
    display: inline-block;
    white-space: normal; } }
.l-content__block::before {
  display: block;
  width: 40%;
  height: 1px;
  margin: 70px auto 0px; }

.l-content__block h1 {
  margin: 30px 0px 40px; }

.l-content__paragraph img {
  display: block;
  margin: 20px auto;
  width: 70%; }

.l-content__paragraph p {
  margin-bottom: 20px; }

.l-content__love p {
  margin-bottom: 20px; }

.l-content__love img.l-content__image--left {
  float: left;
  max-width: 50px;
  margin-right: 15px;
  margin-bottom: 10px; }

.l-content__love img.l-content__image--right {
  float: right;
  max-width: 50px;
  margin-left: 15px;
  margin-bottom: 10px; }

@media (min-width: 450px) {
  .l-content__paragraph img.l-content__image--left {
    max-width: 150px;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px; }

  .l-content__list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }
@media (min-width: 650px) {
  .l-content__block::before {
    width: 15%; } }
@media (min-width: 800px) {
  .l-content__block {
    max-width: 600px;
    margin: 0px auto; } }
.l-services__item {
  margin: 50px 0px; }

.l-services__item img {
  display: block;
  margin: 20px auto 30px;
  max-width: 100px; }

.l-services__item h2 {
  margin: 20px 0px; }

.l-services__item ul li {
  padding-left: 30px;
  line-height: 1.8em; }

@media (min-width: 400px) {
  .l-services__item ul {
    margin-left: 50px; } }
@media (min-width: 450px) {
  .l-services__item ul {
    margin-left: 10px; }

  .l-services__item {
    display: inline-block;
    max-width: calc(50% - 10px);
    flex-grow: 1; } }
@media (min-width: 650px) {
  .l-services__item {
    margin: 30px 0px; } }
.l-footer::before {
  position: relative;
  top: -6px;
  height: 20px; }

.l-footer {
  padding-bottom: 10px; }

.l-footer__socials {
  display: block;
  text-align: center;
  padding-top: 20px; }

.l-footer__socials a {
  display: inline-block;
  max-width: 60px;
  padding: 10px;
  margin-bottom: 20px; }

.l-footer__links a {
  display: block;
  padding: 20px; }

@media (min-width: 650px) {
  .l-footer__content {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 10px; }

  .l-footer__socials {
    display: -webkit-flex;
    display: flex;
    padding-top: 0px;
    padding-right: 15px; }

  .l-footer__socials a {
    margin-bottom: 0px;
    max-width: 50px; }

  .l-footer__links {
    padding-left: 15px; }

  .l-footer__links a {
    display: inline-block;
    padding: 8px;
    font-size: 12px; } }
body {
  background-color: #f2f2f2; }

.divider--mobile {
  background-color: #e287a3; }

.honeycomb__divider {
  background-image: url("assets/images/honeycomb_BG_Topper2.png");
  background-repeat: repeat-x;
  background-size: 36px auto; }

.divider__gradient {
  background: #121e2e;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Standard*/ }

.header--mobile {
  font-family: "Josefin Sans", sans-serif;
  color: #121e2e;
  font-size: 1.5em;
  text-transform: uppercase; }

.hero {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #121e2e;
  line-height: 1.5em; }

@media (min-width: 650px) {
  .hero {
    font-size: 6.5vw; } }
.featured--mobile ul li {
  border: 1px solid #e287a3; }

@media (min-width: 800px) {
  .hexrow > div {
    background-image: url("assets/images/800x800.png");
    background-position: -12px -53px;
    /* -left position -1 x width x sin(30) */
    background-repeat: no-repeat;
    background-size: 120% auto;
    color: #121e2e;
    text-align: center;
    line-height: 173.2px;
    /*equals height*/ }

  .hexrow > div span {
    color: #e287a3;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase; } }
.content__block::before {
  content: "";
  background-color: #e287a3; }

.content__block h1 {
  color: #121e2e;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center; }

.content__paragraph p {
  color: #121e2e;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  line-height: 1.4em; }

.content__love {
  color: #121e2e;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  line-height: 1.4em; }

.services__item {
  color: #121e2e;
  font-family: "Lato", sans-serif; }

.services__item h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center; }

.services__item ul li {
  background-image: url("assets/images/bullets.png");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  background-size: 8px 8px; }

.footer::before {
  content: "";
  display: block;
  background-image: url("assets/images/honeycomb_BG2.png");
  background-repeat: repeat-x;
  background-size: 36px auto; }

.footer {
  background-color: #121e2e;
  color: #e287a3;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }

.footer__links {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
