.l-header--cl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px 0px 10px;
	position: relative;
}

.l-logo--cl {
	max-width: 150px;
}

.l-logo--cl a {
	display: block;
	padding: 20px;
}

.l-headerLinks--cl {
	position: relative;
}

.l-headerLinks--cl ul {
	display: block;
	min-width: 100%;
	position: absolute;
	top: -1px;
	left: 0;
	z-index: 5;
	overflow: hidden;
	max-height: 0px;
}

.l-headerLinks--cl ul li a {
	display: block;
	padding: 40px;
	min-width: 100%;
}

.l-headerLinks--cl ul li:last-child a {
	padding-bottom: 80px;
}

.l-burger--cl {
	max-width: 135px;
}

.l-burger--cl a {
	display: block;
	padding: 20px;
}

.l-heroImg--cl {
	display: flex;
	min-height: 700px;
}

.l-hero--skyline {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.l-hero--skyline::after {
	display: block;
	height: 5px;
	position: absolute;
	z-index: 2;
	bottom: -3px;
	left: 0;
	min-width: 100%;
}

.l-hero--skyline span {
	margin-top: 100px;
}

.l-bodyContent--cl h1 {
	margin: 80px 100px 30px;
	padding-bottom: 20px;
}

.l-bodyContent--cl h1::after {
	text-align: center;
	display: block;
	height: 5px;
	width: 60%;
	margin: 30px auto;
}

.l-bodyContent--cl h2 {
	margin: 50px 80px 30px;
}

.l-bodyContent--cl p {
	margin: 0px 50px 30px;
}

.l-about--cl img {
	display: block;
	border-radius: 100%;
	width: 50%;
	max-width: 500px;
	margin: 40px auto 80px;
}

.l-letsChat {
	margin: 0px 30px;
	padding: 25px;
	display: block;
}

.l-letsChat h1 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.l-letsChat h2 {
	margin-top: 20px;
}

.l-letsChatContent {
	padding: 30px;
}

.l-letsChatContent img {
	display: block;
	width: 50%;
	max-width: 400px;
	margin: 0px auto;
}

.l-socialContainer--cl {
	display: block;
	text-align: center;
}

.l-social--cl {
	display: inline-block;
	padding: 0; 
}

.l-social--cl li {
	display: inline-block;
	margin: 0.15em;
	position: relative;
}

.l-social--cl i {
	position: absolute;
	top: 30px;
	left: 37px;
}

.l-social--cl a {
	display: inline-block; 
}

.l-social--cl a:before {
	width: 150px;
	height: 150px;
	display: block;
}

.l-footer--cl {
	display: block;
	min-width: 100%;
	margin-top: 30px;
}

.l-footer--cl a {
	display: inline-block;
	padding: 30px;
}

.l-headerLinks--cl--desktop {
	display: none;
}


@media (min-width: 1024px){

	.l-headerLinks--cl--mobile {
		display: none;
	}

	.l-logo--cl {
		max-width: 70px;
	}

	.l-logo--cl a {
		padding: 10px;
	}

	.l-burger--cl {
		display: none;
	}

	.l-headerLinks--cl--desktop {
		display: inline-block;
	}

	.l-headerLinks--cl ul {
		display: flex;
		min-width: 0px;
		position: static;
		overflow: visible;
		max-height: none;
	}

	.l-headerLinks--cl ul li a {
		padding: 10px 10px 15px;
	}

	.l-headerLinks--cl ul li:last-child a {
		padding: 10px;
	}

	.l-heroImg--cl {
		min-height: 550px;
	}

	.l-hero--skyline span {
		margin-top: 50px;
	}

	.l-bodyContent--cl {
		padding: 50px 100px;
	}

	.l-bodyContent--cl h2 {
		margin: 0px 0px 20px;
	}

	.l-bodyContent--cl .l-about--cl h1 {
		width: 75%;
		margin: 0px 0px 30px;
		display: inline-block;
		padding-bottom: 10px;
	}

	.l-bodyContent--cl h1::after {
		display: none;
	}

	.l-bodyContent--cl p {
		margin: 0px 0px 30px;
	}

	.l-bodyContent--cl .l-about--cl p {
		max-width: 100%;
		display: inline-block;
	}

	.l-bodyContent--cl .l-about--cl img {
		width: 20%;
		max-width: 230px;
		margin: 0px 0px 0px 30px;
	}

	.l-about--cl {
		display: flex;
		align-items: center;
	}

	.l-clBody {
		display: flex;
		justify-content: space-between;
	}

	.l-clLeft,
	.l-clRight {
		max-width: calc(50% - 20px);
	}

	.l-clBody h1 {
		display: block;
		margin: 30px 0px;
		padding-bottom: 10px;
	}

	.l-socialContainer--cl {
		margin-top: 20px;
	}

	.l-social--cl a:before {
		width: 60px;
		height: 60px;
	}

	.l-social--cl i {
		top: 16px;
		left: 18px;
	}

	.l-examples h1 {
		max-width: 60%;
		margin: 30px 0px;
		padding-bottom: 10px;
	}

	.l-examples img {
		max-width: 70%;
		display: block;
		margin: 0px auto;
	}

	.l-letsChat {
		max-width: 50%;
		margin: 0px auto;
		padding: 6px;
	}

	.l-letsChatContent {
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	.l-letsChatContent h1 {
		margin: 0px 0px 15px;
		padding-bottom: 10px;
	}

	.l-letsChatContent h2 {
		margin: 0px 0px 8px;
	}

	.l-letsChatContent p {
		margin: 0px;
	}

	.l-chatBox {
		max-width: calc(60% - 15px);
	}

	.l-letsChatImage {
		width: 40%;
	}

	.l-letsChatContent img {
		width: 100%;
	}

	.l-footer--cl a {
		padding: 20px 15px;
	}
}

@media (min-width: 1150px){

	.l-heroImg--cl {
		min-height: 650px;
	}

	.l-hero--skyline span {
		margin-top: 80px;
	}
}

@media (min-width: 1200px){

	.l-heroImg--cl {
		min-height: 550px;
	}
}

@media (min-width: 1250px){

	.l-letsChat {
		max-width: 500px;
	}
}

@media (min-width: 1550px){

	.l-heroImg--cl {
		min-height: 700px;
	}
}

@media (min-width: 1600px){

	.l-hero--skyline span {
		margin-top: 120px;
	}
}