.contact {
	color: $secondary;
	font-family: $accent;
	font-size: 1.5em;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px dashed $tertiary;
	color: $secondary;
	font-family: $main;
	font-size: 1em;
	line-height: 1em;
}

.contact textarea {
	line-height: 1.3em;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
	outline: none;
	border-bottom: 1px solid $tertiary;
}

.contact input[type="text"]::-webkit-input-placeholder,
.contact input[type="email"]::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: $quaternary;
}

.contact input[type="text"]::-moz-placeholder,
.contact input[type="email"]::-moz-placeholder,
.contact textarea::-moz-placeholder {
  color: $quaternary;
}

.contact input[type="text"]:-ms-input-placeholder,
.contact input[type="email"]:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  color: $quaternary;
}

.contact input[type="text"]:-moz-placeholder,
.contact input[type="email"]:-moz-placeholder,
.contact textarea:-moz-placeholder { 
  color: $quaternary;
}

.contact__submit {
	-moz-appearance: none;
	-webkit-appearance: none;
	color: $tertiary;
	background-color: transparent;
	border: 1px solid $tertiary;
	font-size: 1.2em;
	font-family: $main;
	text-transform: uppercase;
}

@media (min-width: 800px){

	.contact__submit {
		transition: all 0.2s ease;
	}

	.contact__submit:hover {
		color: $secondary;
		border: 1px solid $secondary;
		background-color: $tertiary;
	}
}