.content__block::before {
	content: "";
	background-color: $pink;
}

.content__block h1 {
	color: $navy;
	font-family: $accent;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
}

.content__paragraph p {
	color: $navy;
	font-family: $main;
	font-size: 0.9em;
	line-height: 1.4em;
}

.content__love {
	color: $navy;
	font-family: $main;
	font-size: 0.9em;
	line-height: 1.4em;
}