.featured--mobile ul li {
	border: 1px solid $secondary;
}


@media (min-width: 800px){

	.hex--01 a {
		background-image: url("assets/images/RedstoneLogo.png");
		background-color: $secondary;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: auto 220px;
		text-align: center;
		color: $secondary;
	}

	.hex--01--01 {
		background: inherit;
	}

	.hex--01--01:before {
		background: inherit;
	}

	.hex--01--02 {
		background: inherit;
	}

	.hex--01--02:before {
		background: inherit;
	}
}