.footer::before {
	content: "";
	display: block;
	background-image: url("assets/images/honeycomb_BG2.png");
	background-repeat: repeat-x;
	background-size: 36px auto;
}

.footer {
	background-color: $navy;
	color: $pink;
	font-family: $accent;
	text-transform: uppercase;
}

.footer__links {
	text-align: center;
}

