.footer::before {
	content: "";
	display: block;
	background-image: url("assets/images/Cerious/honeycomb_BG_white.png");
	background-repeat: repeat-x;
	background-size: 36px auto;
}

.footer {
	background-color: $secondary;
	color: $tertiary;
	font-family: $accent;
	text-transform: uppercase;
}

.footer__links {
	text-align: center;
}

@media (min-width: 800px){

	.footer__links a {
		transition: color 0.3s ease;
	}

	.footer__links a:hover {
		color: $primary;
	}
}