.header {
	background-color: $primary;
}

.navigation {
	background-color: $primary;
	color: $white;
	font-family: $accent;
	text-transform: uppercase;
}

.navigation ul {
	font-size: 80px;
	background-color: $primary;

	transition: 0.3s all ease-out;
}


@media (hover: hover) {

	.navigation ul {
		font-size: 40px;
	}
}