.header--mobile {
	font-family: $accent;
	color: $secondary;
	font-size: 1.5em;
	text-transform: uppercase;
}

.hero {
	font-family: $main;
	font-size: 2.3em;
	color: $secondary;
	line-height: 1.5em;
}

.hero p {
	font-size: 0.35em;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
}

.button--shop {
	border: 1px solid $tertiary;
}

.navigation--mobile ul li a {
	letter-spacing: 1px;
}


@media (min-width: 650px){

	.hero {
		font-size: 5.5vw;
	}
}

@media (min-width: 1024px){

	.header--desktop {
		color: $tertiary;
		font-family: $accent;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.header--desktop ul li a {
		border-bottom: 1px solid $tertiary;
		transition: all 0.4s ease;
	}

	.header--desktop ul li a:hover {
		color: $secondary;
		border-bottom: 1px solid $secondary;
	}

	.hero {
		font-size: 50px;
	}
}

@media (min-width: 1200px){

	.hero {
		font-size: 60px;
	}
}