.header {
	background-color: $primary;
}

.navigation {
	background-color: $primary;
	color: $white;
	font-family: $accent;
	text-transform: uppercase;
}

.navigation ul {
	font-size: 80px;
	background-color: $primary;
	text-align: center;

	transition: 0.3s all ease-out;
}


@media (hover: hover) {

	.navigation ul {
		font-size: 40px;
	}
}

@media (min-width: 1024px) {

	.header--desktop {
		background-image: url("assets/images/heroRight.png");
		background-repeat: no-repeat;
		background-position: 0px 100%;
		background-size: 260px auto;
	}

	.header__blog--desktop {
		background-color: $primary;
	}

	.navigation.navigation--blog ul {
		font-size: 24px;
	}

	.navigation ul {
		text-align: left;
		font-size: 48px;
		background-color: transparent;
	}
}

@media (min-width: 1200px) {

	.header--desktop {
		background-size: 276px auto;
	}
}