.services__item {
	color: $secondary;
	font-family: $main;
}

.services__item h2 {
	font-family: $accent;
	text-transform: uppercase;
	text-align: center;
}

.services__item ul li {
	background-image: url("assets/images/bullets.png");
	background-repeat: no-repeat;
	background-position: 12px 11px;
	background-size: 8px 8px;
}