.team__member h2 {
	color: $tertiary;
	font-family: $main;
	font-size: 1.3em;
	text-transform: uppercase;
}

.team__member h3 {
	color: $secondary;
	font-family: $accent;
	font-size: 1.1em;
	line-height: 1.4em;
}

.team__member {
	text-align: center;
}

.team__member p {
	-webkit-font-smoothing: antialiased;
	text-align: left;
}