.l-content__block::before {
	display: block;
	width: 40%;
	height: 1px;
	margin: 125px auto 0px;
}

.l-content__block h1 {
	margin: 40px 0px;
}

.l-content__paragraph img {
	display: block;
	margin: 20px auto;
	width: 70%;
}

.l-content__paragraph p {
	margin-bottom: 20px;
}

.l-content__love p {
	margin-bottom: 20px;
}

.l-content__love img.l-content__image--left {
	float: left;
	max-width: 50px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.l-content__love img.l-content__image--right {
	float: right;
	max-width: 50px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.l-content {
	margin: 70px 0px;
}

.l-content p {
	margin-bottom: 30px;
}

@media (min-width: 450px){

	.l-content__paragraph img.l-content__image--left {
		max-width: 150px;
		float: left;
		margin-right: 12px;
		margin-bottom: 12px;
	}

	.l-content__list {
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (min-width: 650px){

	.l-content__block::before {
		width: 15%;
	}
}

@media (min-width: 800px){

	.l-content__block {
		max-width: 600px;
		margin: 0px auto;
	}

	.l-content {
		max-width: 600px;
		margin: 70px auto;
	}
}

@media (min-width: 1024px){

	.l-content {
		max-width: 800px;
	}
}