.l-contact p {
	display: block;
	margin-bottom: 30px;
}

.l-contact span {
	display: inline-block;
	width: calc(25% - 20px);
	margin-right: 20px;
}

.l-contact input[type="text"],
.l-contact input[type="email"] {
	display: inline-block;
	width: calc(75% - 10px);
	margin-bottom: 32px;
	padding: 5px;
}

.l-contact .l-message {
	display: block;
	margin-bottom: 20px;
}

.l-contact textarea {
	display: block;
	width: 100%;
	resize: vertical;
}

.l-contact__submit {
	display: block;
	margin: 40px auto 0px;
	padding: 10px 20px;
}

@media (min-width: 800px){

	.l-contact p {
		margin-bottom: 50px;
	}

	.l-contact form {
		max-width: 600px;
		margin: 80px auto 0px;
	}

	.l-contact__submit {
		margin-top: 60px;
	}
}