.l-featured {
	display: none;
}

.l-featured--mobile ul li {
	margin: 10px;
	display: block;
}

.l-featured--mobile img {
	display: block;
}


@media (min-width: 450px){

	.l-featured--mobile ul li {
		display: inline-block;
		width: calc(50% - 22px);
	}
}

@media (min-width: 800px){

	.l-featured--mobile {
		display: none;
	}

	.l-featured {
		display: flex;
		justify-content: center;
		min-height: 350px;
	}

	.l-hexrow {
		display: flex;
		justify-content: center;
	}

	.l-hexrow:nth-child(1n+2){
		margin-top: 72px;
	}

	.l-hexrow:last-child {
		margin-bottom: 60px;
	}

	.l-hex--01 {
		display: inline-block;
		position: relative;
		z-index: 10;
		width: 190px;
		line-height: 220px;
		margin: 0px 10px;
	}

	.l-hex--01 a {
		height: 110px;
		display: block;
	}

	.l-hex--01--01 {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		overflow: hidden;
		transform: rotate(60deg);
	}

	.l-hex--01--01:before {
		content: '';
		position: absolute;
		left: 0;
		transform-origin: 0 0;
		z-index: -1;
		transform: rotate(-60deg) translate(-110px, 0);
		height: 220px;
		width: 220px;
	}

	.l-hex--01--02 {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -2;
		overflow: hidden;
		transform: rotate(-60deg);
	}

	.l-hex--01--02:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		transform: rotate(60deg) translate(40.3px, 40.7px);
		height: 220px;
		width: 220px;
	}
}