.l-wrapper {
	padding: 30px;
	margin-bottom: 50px;
}

.l-divider--mobile {
	display: block;
	width: 60%;
	height: 1px;
	margin: 20px auto;
}

.l-align--right {
	text-align: right;
}

.l-honeycomb__divider {
	width: 100%;
	height: 22px;
	position: relative;
}

.l-divider__gradient {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}


@media (min-width: 650px){

	.l-wrapper {
		max-width: 600px;
		margin: 0px auto 50px;
	}

	.l-divider--mobile {
		width: 45%;
	}
}

@media (min-width: 800px){

	.l-wrapper {
		max-width: none;
	}
}

@media (min-width: 1024px){

	.l-wrapper {
		margin-bottom: 80px;
	}
}