.l-header--desktop {
	display: none;
}

.l-logo--mobile {
	margin-bottom: 30px;
}

.l-navigation--mobile ul {
	text-align: center;
}

.l-navigation--mobile ul li a {
	display: block;
	padding: 15px;
}

.l-hero {
	text-align: center;
	margin: 50px 0px 100px;
}