.l-header__wrapper {
	position: sticky;
	top: 0;
	left: 0;
	min-width: 100vw;
}

.l-header--desktop {
	display: none;
}

.l-header--mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 20px 30px;
}

.l-logo {
	max-width: 130px;
}

.l-socials {
	display: inline-block;
}

.l-socials a {
	display: inline-block;
	max-width: 115px;
	padding: 18px;
}

.l-burger {
	max-width: 150px;
}

.l-burger a {
	display: block;
	padding: 30px;
}

.l-navigation {
	position: relative;
}

.l-navigation ul {
	position: absolute;
	top: -1px;
	right: 0;
	z-index: 2;

	overflow: hidden;
	max-height: 0px;
}

.l-navigation ul li a {
	display: block;
	padding: 20px 60px 20px 40px;
}

.l-navigation ul li:last-child a {
	padding-bottom: 50px;
}


@media (hover: hover) {

	.l-header--mobile {
		padding: 15px 25px;
	}

	.l-logo {
		max-width: 65px;
	}

	.l-burger {
		max-width: 70px;
	}

	.l-burger a {
		padding: 15px;
	}

	.l-socials a {
		max-width: 50px;
		padding: 10px;
	}

	.l-navigation ul li a {
		padding: 15px 60px 15px 40px;
	}

	.l-navigation ul li:last-child a {
		padding-bottom: 35px;
	}
}