.l-header--desktop {
	display: none;
}

.l-logo--mobile {
	max-width: 250px;
	margin: 0px auto 55px;
}

.l-navigation--mobile ul {
	text-align: center;
}

.l-navigation--mobile ul li a {
	display: inline-block;
	padding: 15px;
}

.l-hero {
	text-align: center;
	margin: 50px 0px 100px;
}

.l-navigation--mobile ul li a.l-button--shop {
	padding: 20px 25px 15px;
	margin-bottom: 15px;
}


@media (min-width: 500px){

	.l-navigation--mobile ul {
		max-width: 500px;
		margin: 0px auto;
	}

	.l-navigation--mobile ul li {
		display: inline-block;
		margin: 10px 20px;
	}

	.l-navigation--mobile ul li a {
		display: inline-block;
	}
}

@media (min-width: 650px){

	.l-hero {
		margin: 100px 0px;
	}
}

@media (min-width: 800px){

	.l-hero {
		margin: 100px 0px 150px;
	}
}

@media (min-width: 1024px){

	.l-header--mobile {
		display: none;
	}

	.l-divider--mobile {
		display: none;
	}

	.l-header--desktop {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
	}

	.l-header--desktop ul li {
		display: inline-block;
		margin: 0px 5px;
	}

	.l-header--desktop ul li a {
		display: inline-block;
		padding: 20px 20px 10px;
		min-width: 100px;
	}

	.l-logo {
		max-width: 150px;
		margin: 0px 10px;
	}

	.l-header__links--left ul li a {
		text-align: left;
		padding-left: 5px;
	}

	.l-header__links--right ul li a {
		text-align: right;
		padding-right: 5px;
	}
}

@media (min-width: 1200px){

	.l-header--desktop ul li a {
		min-width: 120px;
	}

	.l-logo {
		max-width: 250px;
		margin: 0px 10px;
	}
}