.l-team__member img {
	display: block;
	max-width: 250px;
	margin: 0px auto;
}

.l-team__member h2 {
	display: block;
	margin: 40px 0px 20px;
}

.l-team__member h3 {
	display: block;
	margin-bottom: 30px;
}